<h1>Welcome to Wortschatz!</h1>
<h2>Options</h2>
<div>
    <p>Select the different options from the menus</p>
    <ul>
        <li>Languages</li>
        <li>Themes</li>
        <li>Quantity</li>
    </ul>
    <p>When you're ready, press the following button :</p>
    <button mat-raised-button color="warn">Generate</button>
</div>
<h2>Exercises</h2>
<div>
    <p>You can decide whether you want to display all the words at once or each word individually with the following slider</p>
    <mat-slide-toggle>Show All</mat-slide-toggle>
    <p>Display the next word</p>

    <button mat-button>
        <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <button mat-stroked-button>
        Down Arrow
        <mat-icon>arrow_downward</mat-icon>
    </button>
    <button mat-stroked-button>
        Enter
        <mat-icon>keyboard_return</mat-icon>
    </button>

    <p>Display the previous word</p>

    <button mat-button>
        <mat-icon>keyboard_arrow_up</mat-icon>
    </button>
    <button mat-stroked-button>
        Up Arrow
        <mat-icon>arrow_upward</mat-icon>
    </button>
</div>
<h2>Grade</h2>
<div>
    <p>When you want to correct your answers, press the following button :</p>
    <button mat-raised-button color="warn">Grade</button>
</div>
<h2>Enjoy!</h2>
