<div class="options">
    <mat-slide-toggle [(ngModel)]="areAllWordsShown">Show All</mat-slide-toggle>
    <mat-progress-spinner
        mode="determinate"
        *ngIf="!areAllWordsShown"
        [value]="(currentShownWordIndex / (words.length - 1)) * 100"
    ></mat-progress-spinner>
</div>
<div class="cards-nav-container">
    <button mat-button (click)="goPrevious()" [disabled]="!canGoPrevious()">
        <mat-icon>keyboard_arrow_up</mat-icon>
    </button>
    <div class="cards-container">
        <div class="card" *ngFor="let word of words; let wordIndex = index">
            <app-word-card
                *ngIf="isWordShown(wordIndex)"
                [originalWord]="word.originalWord"
                [targetWord]="graded ? word.targetWord : ''"
                (guessedWordChange)="updateGuess(word, $event)"
            ></app-word-card>
        </div>
    </div>
    <button mat-button (click)="goNext()" [disabled]="!canGoNext()">
        <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
</div>
<div class="options">
    <button mat-button *ngIf="!graded; else scoreValue" (click)="correctWords()">Grade</button>
    <ng-template #scoreValue>{{ (score / words.length) * 100 | number: '.0-0' }} %</ng-template>
</div>
