@import '~@angular/material/theming';
@include mat-core();

$mat-primary-scheme: (
    100: #c5cae9,
    500: #61699a,
    700: #303f9f,
    contrast: (
        100: rgba(0, 0, 0, 0.87),
        500: #ffffff,
        700: #ffffff,
    ),
);
$mat-accent-scheme: (
    100: #ff80ab,
    500: #ff4081,
    700: #f50057,
    contrast: (
        100: rgba(0, 0, 0, 0.87),
        500: rgba(0, 0, 0, 0.87),
        700: #ffffff,
    ),
);
$mat-primary-palette: mat-palette($mat-primary-scheme);
$mat-accent-palette: mat-palette($mat-accent-scheme);

$app-light-theme: mat-light-theme($mat-primary-palette, $mat-accent-palette);

.light-theme {
    @include angular-material-theme($app-light-theme);
    background-color: rgb(255, 254, 194);
}

$app-dark-theme: mat-dark-theme($mat-primary-palette, $mat-accent-palette);

.dark-theme {
    @include angular-material-theme($app-dark-theme);

    background-color: #333;
    color: whitesmoke;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol';
    // color: #333;
    // box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    height: 100%;
    margin: 0;
}

h1 {
    display: flex;
    justify-content: center;
}
