@use '~@angular/material' as mat;
@import '~@angular/material/theming';
@include mat-core();

$light-primary-palette: mat.$purple-palette;
$light-accent-palette: mat.define-palette(mat.$green-palette, A200, A100, A400);
$light-warn-palette: mat.define-palette(mat.$green-palette, A700, A600, A900);
$dark-primary-palette: mat.$deep-purple-palette;
$dark-accent-palette: mat.define-palette(mat.$light-green-palette, A200, A100, A400);
$dark-warn-palette: mat.define-palette(mat.$light-green-palette, A700, A600, A900);

$app-light-theme: mat-light-theme($light-primary-palette, $light-accent-palette, $light-warn-palette);
.light-theme {
    @include mat.all-component-themes($app-light-theme);
    background-color: #f8faff;
    color: rgb(53, 0, 102);
}

$app-dark-theme: mat-dark-theme($dark-primary-palette, $dark-accent-palette, $dark-warn-palette);
.dark-theme {
    @include mat.all-component-themes($app-dark-theme);
    background-color: #333;
    color: whitesmoke;
}

// @include mat.all-component-themes($app-dark-theme);

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    height: 100%;
    margin: 0;
}

h1 {
    display: flex;
    justify-content: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}
