<div [class]="currentTheme">
    <div class="page">
        <header>
            <div class="theme-selector">
                <mat-slide-toggle (click)="togglePageTheme()"></mat-slide-toggle>
                <mat-icon *ngIf="isCurrentThemeDark(); else light_theme">dark_mode</mat-icon>
                <ng-template #light_theme>
                    <mat-icon>light_mode</mat-icon>
                </ng-template>
            </div>
            <div>
                <mat-icon>help</mat-icon>
            </div>
        </header>
        <h1>Wortschatz</h1>
        <div class="selectors">
            <app-language-selector></app-language-selector>
            <app-theme-selector></app-theme-selector>
            <app-word-count-selector></app-word-count-selector>
        </div>
        <app-words-list></app-words-list>
    </div>
</div>
<router-outlet></router-outlet>
