.selectors {
    background-color: rgba(4, 0, 255, 0.075);
    padding: 2%;
}

@media only screen and (max-width: 900px) {
    .page {
        padding: 2% 2% 0 2%;
    }
}

@media only screen and (min-width: 900px) {
    .page {
        padding: 2% 25% 0 25%;
    }
}

header {
    display: flex;
    justify-content: space-between;
}

.theme-selector {
    width: fit-content;
    display: flex;
    padding-left: 1%;
}

.help {
    cursor: pointer;
}
