.themes {
    display: flex;
    flex-wrap: wrap;
}

mat-checkbox {
    flex-basis: 25%;
    text-align: left;
    padding-left: 4%;
}

.parent-checkbox {
    font-weight: bolder;
    padding-left: 2%;
}
