:host {
    display: flex;
    padding: 1%;
    margin: 1%;
    border: 1px solid gray;
    justify-content: space-evenly;
    align-items: center;
}

.correct {
    background-color: lime;
}

.incorrect {
    background-color: red;
}

div {
    flex-basis: 20%;
}

input {
    flex-basis: 50%;
}
