:host {
    display: flex;
    padding: 2%;
    border: 2px solid gray;
    flex-basis: 40%;
    justify-content: space-between;
    align-items: center;
}

.correct {
    background-color: lime;
}

.incorrect {
    background-color: red;
}

div {
    flex-basis: 20%;
}
